.centered-overlay-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.centered-overlay-content-wrapper {
    max-width: 90%;
    max-height: 90vh;
    padding: 20px;
    overflow-y: auto;
}