.sidebar {
    width: 230px;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    justify-content: space-between;
}

.menu {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.menu button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #2E2F2E;
    width: 100%;
    padding: 12px 10px 12px 30px;
    border: none;
    background-color: #e8e8e8;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    border-radius: 6px;
    transition: background 0.2s;
}

.menu button:hover {
    background-color: #2E2F2E;
    color: white;
}

.menu button img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 10px;
}

/* Dno sidebar-a */
.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    background-color: #e8e8e8;
}

.status-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 4px;
    vertical-align: middle;
}

/* Status toggle */
.status-toggle label {
    color: #2E2F2E;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}

.toggle-switch {
    position: relative;
    width: 68px;
    height: 24px;
    background-color: #353535;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.slider {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease;
}

.toggle-switch.active {
    background-color: #b3b3b3;
}

.toggle-switch.active .slider {
    transform: translateX(44px);
}

.status-text {
    position: absolute;
    font-size: 7px;
    font-weight: 600;
    z-index: 2;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease;
}

.toggle-switch:not(.active) .status-text {
    right: 6px;
    color: white;
}

.toggle-switch.active .status-text {
    left: 6px;
    color: #2E2F2E;
}

/* Ikonice ispod toggle-a */
.bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 10px;
}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: #2E2F2E;
    transition: transform 0.2s ease;
    padding-left: 0;
}

.icon-btn:hover {
    transform: scale(1.05);
}

.icon-img {
    object-fit: contain;
    display: block;
    width: 14px;
    height: 14px;
    margin-bottom: 0;
    position: relative;
    top: 1px;
}