.small-button{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 18px;
    height: 1em;
    width: 1em;
    background-color: #DDDDDD;
    border-color: #2E2F2E;
    border-radius: 50%;
    transition: .25s;
}

.small-button:hover{
    border-color: #DDDDDD;
    background-color: #2E2F2E;
    color: #DDDDDD;
}

.icon{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
