body, html {
    height: 100%;
    margin: 0;
    font-family: inherit;
    background: radial-gradient(ellipse 60% 170% at center,
    #ffffff 0%,
    #ffffff 50%,
    #666666 100%
    );
}


.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.logo-icon {
    width: 180px;
    margin-bottom: 10px;
    margin-top: -60px;
}


.title {
    font-size: 55px;
    font-weight: 300;
    margin: -10px 0 10px 0;
    color: #2E2F2E;
}


.login-icon {
    width: 100px;
    height: 100px;
    margin: 5px 0 50px 0;
    border-radius: 50%;
}


.input-group {
    position: relative;
    margin: 10px 0;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.input-group input {
    width: 250px;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 20px;
    background-color: #d3d3d3;
    color: #2E2F2E;
    outline: none;
    font-size: 14px;
}


.toggle-password {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 15px;
    cursor: pointer;
}

.error-message {
    color: #d93025; /* A clear error red */
    font-size: 13px;
    margin: 5px 0;
    font-weight: 500;
    text-align: center;
    /*background-color: #ffebee; !* Light red background *!*/
    padding: 2px;
    border-radius: 8px;
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(3px); }
    50% { transform: translateX(-3px); }
    75% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}


.login-button {
    margin-top: 15px;
    width: 100px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}

.login-button:hover {
    background-color: #f0f0f0;
    color: #424242;
    border-color: #424242;
}

/* Uklanja automatske "show password" i "clear" ikonice iz input polja na svim browserima */

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-password-toggle-button {
    display: none;
}

input[type="password"]::-moz-password-reveal-button {
    display: none;
}
