.landing{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
    gap: 0;
    color: #2E2F2E;
}

.landing-title{
    font-size: 2em;
}

.divider{
    border: 1px solid #2E2F2E;
    margin: 0;
    width: 100%;
}